apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-faxdjtrx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-faxdjtrx:e3866e8d6b9ae93c57de3ca72859c74ced55a5bb@sha256:eaefa07a0405022627117953695338943ae57a44e3d8170d5ff70396c4e821ad
          name: container-image
